.numi
  margin: 20px
  display: flex
  justify-content: center
  align-items: center
  &-expression
    background-color: #27282D
    color: white
    width: 300px
    height: 200px
  &-result
    width: 200px
    height: 200px
  &-reload
    height: 50px
    margin: 20px
    border-radius: 10px
    color: white
    background-color: #F96158
    border: none
    &:hover
      background-color: #d3463f
      cursor: pointer
